body{ 
    cursor: url(cat.png), auto;
    
    background-color: pink;
}

header {
    text-align: center;
    font-weight: 700;
    font-family: "papyrus",fantasy;
  background-color: rgb(255, 192, 203);  
    font-size: 12px;
    line-height: 1.0;
}

h1  {
    text-align: center;
    font-size: 80px;
}

hr {
 color: white;
 size: 200%;
}

.element-class:hover {
    cursor: url(cat.png), auto;
}

h3{
    margin-right: 92%;
}

p{ 
    font-family: "comic sans ms", cursive;
    color: rgb(225, 58, 240);
    text-align: center;
    font-size: 28px;
    margin-left: 20%;
    margin-right: 20%;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

#left {
 float: left;
}

#right {
 float: right; 
}

a {
text-decoration: none;
color: mediumorchid;
text-transform: uppercase;
border-radius: 5px;
padding: 25px 10px 10px 10px;
}

nav ul {
list-style-type: none;
text-align: center;
background-color: whitesmoke;
}

nav ul li {
display: inline-block;
padding: 20px;
}

a:hover, .active {
background-color: lavender;
color: darkslategray;
box-shadow: 0px 7px 5px rgb(44, 61, 61);
}

nav {
margin-top: 50px;
box-shadow: 0px 2px 5px gray;
}


.photo {
  margin: 20px;
  max-width: 500px;

}



.photo img {
  width: 500px;
  height: 400px;
}


p {
  font-family: "Edu AU VIC WA NT Guides", cursive;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.photo {
  text-align: center;
}

.photo img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 700px) {
  nav ul {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: block; 
    padding: 15px 0;
  }

  nav ul li a {
    display: block;
  }
}
.contact-info {
  background-color: lavenderblush;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 40px auto;
  width: 60%;
  color: darkslategray;
}

.contact-info ul {
  list-style-type: circle;
  text-align: left;
  margin-left: 20%;
}

.contact-info a {
  color: mediumorchid;
  font-weight: bold;
}

.contact-info a:hover {
  color: purple;
  text-decoration: underline;
}

.contact-page .contact-text {
  color: deeppink;
}